* {
  margin: 0;
  list-style-type: none;
font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
a {
  color: inherit;
  text-decoration: none;
  vertical-align: bottom;
}
body {
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
  background-color: hsl(312, 29%, 93%);
}
#LOGO {
  max-width: 15em;
  min-width: 10em;
}
header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
#cardContener {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  flex: 1 0 30%;
  min-width: 250px;
  margin: 10px;
  width: 300px;

  border-radius: 1em;
  background-color: hsl(312, 29%, 98%);
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.315);
  overflow: hidden;
}
.noFlex {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

div {
  flex: 1 0 30%;
  min-width: 250px;
  margin: 10px;
  width: 300px;
}

.box {
  display: block;
    transition-duration: 0.4s;
}

.box:hover {
  transition-duration: 0.4s;
  transform: scale(1.05);
}
.center {
     margin: 0 auto;
   
}