*{
    margin: 0;
}
body {
    max-width: 1500px;
         margin: 0 auto;
     width: 100%; 
}
#cardContener {
    border: 2px solid red;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin : 0 auto;

}

.card {
    flex : 1 0 30%;
    min-width: 250px;
    margin: 10px;
    width: 300px;
    border: 5px solid rgb(47, 5, 238);
}

.card > img {
 height: 150px;
 width: 100%;
 object-fit: cover;
}

div {
    flex : 1 0 30%;
    min-width: 250px;
    margin: 10px;
    width: 300px;
    border: 5px solid rgb(47, 5, 238);
}

#imgID {
     height: 150px;
 width: 100%;
 object-fit: cover;
}